{% extends "food/base.html" %} {% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-header bg-info text-white">
          <div class="card-title">Login Here</div>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %} {% for field in form %}
            <div class="form-group">{{field.name}} {{field}}</div>
            {%endfor%}
            <button type="submit" class="btn btn-info">Login</button>
          </form>
          <span class="p"
            >Don't Have an account
            <a href="{% url 'register_user' %}">Register</a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
